.git
.idea/
*pycache*
.conda
.venv
node_modules/
.env
_env.*
*.mbtiles
saves/
weg/
_codeRemoved
_dep
serverConfig.js
_unused
_nonsens/
_muell/
zTrash
depr.js
zDepr.js
z0.txt
v*.txt
package-lock.json
_sens*
assets_old/
_weg
*.db
*db/
*csv/




